* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.geral {
    min-height: 100%;
    position: relative;
    width: 800px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    overflow: hidden;
}

.aside {
    width: 200px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #d9d9d9;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#fundo-externo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

#fundo {
    position: fixed;
    width: 100%;
    height: 100%;
}

#logo {
    margin-top: 0px;
    width: 250px;
    height: 250px;
}

#fundo img {
    width: 100%;
    position: absolute;
}

#fundo-externo2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #d9d9d9;
}

#fundo2 {
    position: fixed;
    width: 100%;
    height: 100%;
}

#fundo2 img {
    margin: 0px 0px 0px 300px;
    width: 80%;
    position: absolute;
}

#site {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 560px;
    padding: 20px;
    margin-left: -700px;
    /* por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site */
    margin-top: 0px;
    background: #d9d9d9;
    /* fundo branco para navegadores que não suportam rgba */
    /* fundo branco com um pouco de transparência */
}

tr,
td,
th,
table {
    border-collapse: collapse;
    margin: 30px 30px 30px 30px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: black;
    background-color: #d9d9d9;
    border: 2px solid black;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    margin: 1px;
    color: black;
    background-color: #d9d9d9;
    border: 2px solid black;
    font-size: 14px;
}

input[type=radio] {
    width: 5%;
}

select {
    width: 30%;
    margin: 1px;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-size: 14px;
}

input[type=submit] {
    width: 45%;
    margin: 1px;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
}

input[type=reset] {
    width: 45%;
    margin: 1px;
    color: black;
    background-color: white;
    border: 2px solid solid black;
    font-size: 16px;
    font-weight: bold;
}

label {
    width: 45%;
    margin: 1px;
    color: black;
    background-color: #d9d9d9;
    font-size: 18px;
    font-weight: bold;
}

.normal {
    font-weight: normal;
}


/* unvisited link */

a:link {
    width: 45%;
    margin: 5px 5px 5px 1px;
    padding: 8px 8px 8px 8px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    text-decoration: none;
}


/* visited link */

a:visited {
    width: 45%;
    margin: 5px 5px 5px 1px;
    padding: 8px 8px 8px 8px;
    color: white;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    text-decoration: none;
}


/* mouse over link */

a:hover {
    width: 45%;
    margin: 5px 5px 5px 1px;
    padding: 8px 8px 8px 8px;
    color: black;
    background-color: #f4bc33;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    text-decoration: none;
}


/* selected link */

a:active {
    width: 45%;
    margin: 5px 5px 5px 1px;
    padding: 8px 8px 8px 8px;
    color: black;
    background-color: #f4bc33;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    text-decoration: none;
}

.btnmenor {
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}